html {
	scroll-behavior: smooth;
}

html, body {
  width: auto !important; 
  overflow-x: hidden !important;
  background-color: #E9EAEB;
  font-family: 'SofiaPro' sans-serif;
  font-size: 14px;
  line-height: 17px;
} 

.header {
  background-color: #02063F;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20% 0 20%;
}

.header-logo {
  height: auto;
  width: 100px;
}

.app-container {
  background-color: #E9EAEB;
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  height: 80vh;
  max-height: 800px;
  width: 60vw;
  max-width: 1200px;
  background-color: #fff;
  align-self: center;
  border-radius: 10px;
  padding: 10px
}

.card-container {
  height: inherit;
  padding: 10px;
  overflow: auto; 
  overflow-x: hidden !important;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 8px;
  margin-bottom: 10px
}

.list-item:hover {
  background-color: #E9EAEB;
}